<!DOCTYPE html>
<html>
    <head>
        <title>
            Students
        </title>
        <script src="angular.js"></script>
        <style>
            .red{
                background-color: red;
            }
        </style>
    </head>
    <body ng-app="studentMod">
        <section ng-controller="studentController">
            
            <button ng-click="showStudent()">Load</button>
            <button ng-click="showDiv()">Load All</button>
            <div ng-show="visible" ng-class="{'red': (data<6)}">
                <h1>{{"Name: "+data.name+"\n CGPI: "+data.cgpi+"\n Roll No: "+data.rollNo}}</h1>
                <img ng-src={{data.profilepic}}>
            </div>
            <div ng-repeat="student in students" ng-show="IsVisible">
                <h1>{{"Name: "+student.name+"\n CGPI: "+student.cgpi+"\n Roll No: "+student.rollNo}}</h1>
                <img ng-src={{data.profilepic}}>
            </div>
        </section>
        <script>
            var studentmodule=angular.module('studentMod',[])
            studentmodule.controller('studentController',function($scope){
                $scope.IsVisible=false
                $scope.visible=false
                $scope.data={
                    name:'Nilam',
                    cgpi:'5.5',
                    rollNo:'45',
                    profilepic: 'image/download.png'
                }
                console.log($scope.data)
                $scope.students=[{
                    name:'Sunny',
                    cgpi:'9.5',
                    rollNo:'35',
                    profilepic: 'image/download.png'
                },{
                    name:'Ravi',
                    cgpi:'8.5',
                    rollNo:'25',
                    profilepic: 'image/download.png'
                },{
                    name:'Akash',
                    cgpi:'7.5',
                    rollNo:'15',
                    profilepic: 'image/download.png'
                }]
                $scope.showDiv=function(){
                    $scope.IsVisible=true
                }
                $scope.showStudent=function(){
                    $scope.visible=true
                }
            })
        </script>
    </body>
</html>